@font-face {
  font-family: "Amarante-Regular";
  src: url("../font/Amarante-Regular.ttf"); /*폴더는 css파일기준으로*/
}
* {
  margin: 0;
  padding: 0;
  font-family: "Amarante-Regular", "Times New Roman", serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
header #header_nav,
header #header_info,
#content,
footer {
  width: 1000px;
  margin: 0 auto;
}
/*****header*****/
header {
  margin-bottom: 10px;
}
header #header_nav {
  width: 100%;
  min-width: 900px; /*최소한의 가로사이즈*/
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  font-size: 0.9em;
  background-color: #2d1152;
}

header #header_nav .gnb ul li {
  float: left;
  width: 60px;
  box-sizing: border-box;
  text-align: center;
}
header #header_nav .gnb {
  width: 660px;
  margin-left: 3px;
}
header #header_nav .gnb ul li a {
  color: white;
}
header #header_nav .survivalFootball p {
  float: right;
  color: white;
}
header #header_info .logo,
header #header_info .search,
header #header_info .service {
  float: left;
}
header #header_info {
  overflow: hidden;
}
header #header_info .logo {
  margin: 10px 0 0 0;
}
header #header_info .search input:first-child {
  width: 400px;
  height: 37px;
  margin: 20px 3px 10px 3px;
  border-color: #3488d9;
  outline: none;
  font-size: 20px;
}
header #header_info .search input.btn_search {
  background-image: url("../img/search_btn.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  color: white;
  border: 0px;
  width: 124px;
  height: 37px;
  cursor: pointer;
}

header #header_info .service ul {
  overflow: hidden;
  width: 250px;
  margin-left: 35px;
}

header #header_info .service ul li {
  float: right;
  width: 33.33%;
  height: 37px;
  line-height: 37px;
  margin-top: 20px;
  color: #2d1152;
  box-sizing: border-box;
  text-align: center;
}

/*************content**************/

#content {
  overflow: hidden;
}
#content #main,
#content #main_banner,
#content #main_menu {
  float: left;
}
#content #main_menu ul {
  width: 155px;
  text-align: center;
}
#content #main_menu ul li {
  height: 45px;
  line-height: 45px;
}
#content #main > div {
  border: 1px solid gray;
  width: 600px;
  margin: 0 0 3px 0;
}
#content #main div:first-child {
  height: 300px;
}
#content #main div:nth-child(2) {
  height: 150px;
}
#content #main div:nth-child(3) ~ div {
  height: 100px;
}
#content #main ul {
  overflow: hidden;
}
#content #main ul li {
  float: left;
  width: 16.66%;
  text-align: center;
  background-color: #500095;
  height: 50px;
  line-height: 50px;
  border: none;
}
#content #main ul li a {
  color: white;
}

#content #main_banner > div {
  min-width: 230px;
  margin: 3px 0 0 3px;
  border: 1px solid gray;
}

#content #main_banner div:nth-child(1) {
  margin-top: 0;
  height: 100px;
}
#content #main_banner div:nth-child(2) {
  height: 100px;
}
#content #main_banner div:nth-child(3) {
  height: 150px;
}
#content #main_banner div:nth-child(4) {
  height: 150px;
}
#content #main_banner div:last-child {
  height: 200px;
}
footer {
  height: 100px;
  width: 1000px;
  margin: 0 auto 2px;
  border:1px solid gray;
}
footer ul {
  overflow: hidden;
}
footer ul li {
  text-align: center;
  padding:10px 0;
  float: left;

}
footer ul li:first-child {
  margin: 20px 50px 20px 150px;
}
footer ul li:last-child {
  margin: 15px 0;
}
